#cabeçalho{
    color: rgb(236, 233, 17);
    font-style: italic;
    font-size: 30px;
    position: relative;
}
.itens_cabe{
    display: inline-block;
}
.a{
    margin-left: 15%;
}
.b{
    margin-left: 15%;
}
.c{
    margin-left: 15%;
}
.c{
    margin-left: 15%;
}
.d{
    margin-left: 15%;
}
#nome{
    font-size: 300%;
    color: lightcyan;
    background-image: url("plano\ de\ fundo.jpg");
    background-position:20% 50%;
    background-size: 10%;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -120px;
    padding: 30% 45% 35% 45%
}
#first_name{
    margin-left: -50%;

}
#sobre{
    background-color: mediumturquoise;

}
.perfil{
    margin-left: 3%;
    margin-top: 1%;
    width: 45%;
    display: inline-block;
}
#descri{
    font-weight: 200%;
    font-size: 200%;
    font-style: italic;
    font-family: cursive;
    padding-left: 5%;
}
#photo{
    border-radius: 50%;
    padding-left: 5%;
}
#descri_photo{
    margin-left: 60%;
    margin-top: -1%;
    font-style: italic;
}